-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: cricket_db
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '6cfa5396-210c-11f1-a474-cc5ef87fd222:1-1033';

--
-- Table structure for table `ball_events`
--

DROP TABLE IF EXISTS `ball_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ball_events` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ball_number` int NOT NULL,
  `extra_runs` int DEFAULT NULL,
  `extra_type` varchar(255) DEFAULT NULL,
  `innings` int NOT NULL,
  `is_wicket` bit(1) DEFAULT NULL,
  `over_number` int NOT NULL,
  `runs` int NOT NULL,
  `wicket_type` varchar(255) DEFAULT NULL,
  `bowler_id` bigint NOT NULL,
  `match_id` bigint NOT NULL,
  `non_striker_id` bigint NOT NULL,
  `player_out_id` bigint DEFAULT NULL,
  `striker_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK48ob45ker6k436wl21uvic8g9` (`bowler_id`),
  KEY `FKfy1b5eaopt29wiuma151my7mm` (`non_striker_id`),
  KEY `FKfm3q82yutrep20wme4r8mvbxl` (`player_out_id`),
  KEY `FKck7kt8skpcaammwvc39n8x40o` (`striker_id`),
  KEY `idx_ball_match_innings` (`match_id`,`innings`,`over_number`,`ball_number`,`id`),
  CONSTRAINT `FK48ob45ker6k436wl21uvic8g9` FOREIGN KEY (`bowler_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKck7kt8skpcaammwvc39n8x40o` FOREIGN KEY (`striker_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKfm3q82yutrep20wme4r8mvbxl` FOREIGN KEY (`player_out_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKfy1b5eaopt29wiuma151my7mm` FOREIGN KEY (`non_striker_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKpp3eeb1ommls7qsjac58jihfo` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=643 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ball_events`
--

LOCK TABLES `ball_events` WRITE;
/*!40000 ALTER TABLE `ball_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `ball_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery_images`
--

DROP TABLE IF EXISTS `gallery_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gallery_images` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image_url` varchar(1024) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery_images`
--

LOCK TABLES `gallery_images` WRITE;
/*!40000 ALTER TABLE `gallery_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_playing_xi_a`
--

DROP TABLE IF EXISTS `match_playing_xi_a`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `match_playing_xi_a` (
  `match_id` bigint NOT NULL,
  `player_id` bigint NOT NULL,
  PRIMARY KEY (`match_id`,`player_id`),
  KEY `FKcwhce263a4xoixg83eqnu26vq` (`player_id`),
  CONSTRAINT `FKcwhce263a4xoixg83eqnu26vq` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKdmiq7n5q6o0mr4e63vyeogeqi` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_playing_xi_a`
--

LOCK TABLES `match_playing_xi_a` WRITE;
/*!40000 ALTER TABLE `match_playing_xi_a` DISABLE KEYS */;
INSERT INTO `match_playing_xi_a` VALUES (23,1),(27,1),(23,2),(27,2),(23,3),(27,3),(23,4),(27,4),(23,5),(27,5),(23,16),(27,16),(23,17),(27,17),(23,18),(27,18),(23,19),(27,19),(23,20),(27,20),(23,21),(27,21);
/*!40000 ALTER TABLE `match_playing_xi_a` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_playing_xi_b`
--

DROP TABLE IF EXISTS `match_playing_xi_b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `match_playing_xi_b` (
  `match_id` bigint NOT NULL,
  `player_id` bigint NOT NULL,
  PRIMARY KEY (`match_id`,`player_id`),
  KEY `FK9q9a85mul3ha09cqt6r622e4q` (`player_id`),
  CONSTRAINT `FK9q9a85mul3ha09cqt6r622e4q` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKlvvvm3kqc1idvlxf2yaxhq3w4` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_playing_xi_b`
--

LOCK TABLES `match_playing_xi_b` WRITE;
/*!40000 ALTER TABLE `match_playing_xi_b` DISABLE KEYS */;
INSERT INTO `match_playing_xi_b` VALUES (27,1),(27,2),(27,3),(27,5),(23,6),(23,7),(23,8),(23,9),(23,10),(27,16),(27,17),(27,18),(27,19),(27,20),(23,22),(23,23),(23,24),(23,25),(23,26),(23,27),(27,41),(27,42);
/*!40000 ALTER TABLE `match_playing_xi_b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `current_balls` int DEFAULT NULL,
  `current_innings` int DEFAULT NULL,
  `current_score` int DEFAULT NULL,
  `current_wickets` int DEFAULT NULL,
  `match_date` date NOT NULL,
  `overs` int NOT NULL,
  `status` enum('SCHEDULED','ONGOING','COMPLETED') NOT NULL,
  `target_score` int DEFAULT NULL,
  `toss_decision` varchar(255) DEFAULT NULL,
  `batting_team_id` bigint DEFAULT NULL,
  `bowling_team_id` bigint DEFAULT NULL,
  `current_bowler_id` bigint DEFAULT NULL,
  `current_non_striker_id` bigint DEFAULT NULL,
  `current_striker_id` bigint DEFAULT NULL,
  `team_a_id` bigint NOT NULL,
  `team_b_id` bigint NOT NULL,
  `toss_winner_id` bigint DEFAULT NULL,
  `winner_team_id` bigint DEFAULT NULL,
  `result` varchar(255) DEFAULT NULL,
  `man_of_the_match_id` bigint DEFAULT NULL,
  `first_innings_score` int DEFAULT NULL,
  `first_innings_wickets` int DEFAULT NULL,
  `first_innings_balls` int DEFAULT NULL,
  `match_type` enum('TOURNAMENT','PRACTICE') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKdvvo8d727vumqywhahghwqh4w` (`batting_team_id`),
  KEY `FKqobxtx0acj9lqghp89f7jfw7f` (`bowling_team_id`),
  KEY `FKiiy0qvvv6y5p27qul9xhitelp` (`current_bowler_id`),
  KEY `FKl537indahn5dahm8hbnehvy2e` (`current_non_striker_id`),
  KEY `FKc8luaq6tvdv9qi10naf1ua94q` (`current_striker_id`),
  KEY `FKpf41hapqtm6mc2t8xnr7ei4b0` (`toss_winner_id`),
  KEY `FKn66swy9if3qemrk5407f81hc5` (`winner_team_id`),
  KEY `FK9faw8bon46wyynfu5o6hj3ub5` (`man_of_the_match_id`),
  KEY `idx_match_team_a` (`team_a_id`),
  KEY `idx_match_team_b` (`team_b_id`),
  KEY `idx_match_status` (`status`),
  CONSTRAINT `FK9faw8bon46wyynfu5o6hj3ub5` FOREIGN KEY (`man_of_the_match_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKc8luaq6tvdv9qi10naf1ua94q` FOREIGN KEY (`current_striker_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKdvvo8d727vumqywhahghwqh4w` FOREIGN KEY (`batting_team_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKiiy0qvvv6y5p27qul9xhitelp` FOREIGN KEY (`current_bowler_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKl537indahn5dahm8hbnehvy2e` FOREIGN KEY (`current_non_striker_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKmrgum5di41ywbw87fdecijmvs` FOREIGN KEY (`team_a_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKn66swy9if3qemrk5407f81hc5` FOREIGN KEY (`winner_team_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKntr6m7io9k4xcxgn7prtyojko` FOREIGN KEY (`team_b_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKpf41hapqtm6mc2t8xnr7ei4b0` FOREIGN KEY (`toss_winner_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKqobxtx0acj9lqghp89f7jfw7f` FOREIGN KEY (`bowling_team_id`) REFERENCES `teams` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
INSERT INTO `matches` VALUES (23,11,2,37,1,'2026-04-05',2,'COMPLETED',34,'BATTING',1,2,NULL,NULL,NULL,1,2,2,1,'FIRST won by 9 wickets',5,33,3,12,'TOURNAMENT'),(27,6,2,8,2,'2026-04-05',1,'COMPLETED',28,'BATTING',8,9,NULL,NULL,NULL,8,9,9,9,'practice_1 won by 19 runs',2,27,2,6,'PRACTICE');
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_match_stats`
--

DROP TABLE IF EXISTS `player_match_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player_match_stats` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `balls_faced` int NOT NULL,
  `catches` int NOT NULL,
  `fours` int NOT NULL,
  `is_out` bit(1) NOT NULL,
  `maidens` int NOT NULL,
  `match_type` enum('TOURNAMENT','PRACTICE') NOT NULL,
  `overs_bowled` double NOT NULL,
  `run_outs` int NOT NULL,
  `runs_conceded` int NOT NULL,
  `runs_scored` int NOT NULL,
  `sixes` int NOT NULL,
  `stumpings` int NOT NULL,
  `wickets` int NOT NULL,
  `match_id` bigint NOT NULL,
  `player_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6yigs5aa89688widu4u2o9o4g` (`match_id`,`player_id`),
  KEY `idx_pms_player` (`player_id`),
  KEY `idx_pms_match` (`match_id`),
  CONSTRAINT `FKcx7ci6xt0fkxsdca9axsxemmh` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKk297a8jtsdibs8thlv8pt0qhw` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_match_stats`
--

LOCK TABLES `player_match_stats` WRITE;
/*!40000 ALTER TABLE `player_match_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `player_match_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `balls_faced` int DEFAULT NULL,
  `batting_average` double DEFAULT NULL,
  `batting_style` varchar(255) DEFAULT NULL,
  `best_bowling` varchar(255) DEFAULT NULL,
  `bowling_average` double DEFAULT NULL,
  `bowling_strike_rate` double DEFAULT NULL,
  `bowling_style` varchar(255) DEFAULT NULL,
  `economy_rate` double DEFAULT NULL,
  `fifties` int DEFAULT NULL,
  `highest_score` int DEFAULT NULL,
  `hundreds` int DEFAULT NULL,
  `innings_played` int DEFAULT NULL,
  `is_captain` bit(1) DEFAULT NULL,
  `is_vice_captain` bit(1) DEFAULT NULL,
  `jersey_number` int DEFAULT NULL,
  `matches_played` int DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `overs_bowled` double DEFAULT NULL,
  `role` enum('BATSMAN','BOWLER','ALL_ROUNDER','WICKETKEEPER') NOT NULL,
  `runs_conceded` int DEFAULT NULL,
  `runs_scored` int DEFAULT NULL,
  `strike_rate` double DEFAULT NULL,
  `wickets` int DEFAULT NULL,
  `player_image` varchar(1024) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scorecard_batting`
--

DROP TABLE IF EXISTS `scorecard_batting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scorecard_batting` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `balls` int DEFAULT NULL,
  `fours` int DEFAULT NULL,
  `how_out` varchar(255) DEFAULT NULL,
  `innings` int NOT NULL,
  `runs` int DEFAULT NULL,
  `sixes` int DEFAULT NULL,
  `strike_rate` double DEFAULT NULL,
  `match_id` bigint NOT NULL,
  `player_id` bigint NOT NULL,
  `team_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKb6q4y51xg3k5ofcchfw70jy3d` (`match_id`,`innings`,`player_id`),
  KEY `FKl7w47aw7s68ucrwqkdrd1vf0j` (`player_id`),
  KEY `FKng7mv8taxqcu2dvio5tnkjr7u` (`team_id`),
  KEY `idx_batting_match_innings_player` (`match_id`,`innings`,`player_id`),
  CONSTRAINT `FKe596j160n4nayxk5q4heoq6an` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`),
  CONSTRAINT `FKl7w47aw7s68ucrwqkdrd1vf0j` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`),
  CONSTRAINT `FKng7mv8taxqcu2dvio5tnkjr7u` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=177 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scorecard_batting`
--

LOCK TABLES `scorecard_batting` WRITE;
/*!40000 ALTER TABLE `scorecard_batting` DISABLE KEYS */;
/*!40000 ALTER TABLE `scorecard_batting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scorecard_bowling`
--

DROP TABLE IF EXISTS `scorecard_bowling`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scorecard_bowling` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `economy_rate` double DEFAULT NULL,
  `innings` int NOT NULL,
  `maidens` int DEFAULT NULL,
  `overs` double DEFAULT NULL,
  `runs` int DEFAULT NULL,
  `wickets` int DEFAULT NULL,
  `match_id` bigint NOT NULL,
  `player_id` bigint NOT NULL,
  `team_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4vd7ajt5skk861efryp7yigft` (`match_id`,`innings`,`player_id`),
  KEY `FKnhcgnwmwomg7423af4k27ecv0` (`player_id`),
  KEY `FK7aw8ho6lm894r2y013klasv2u` (`team_id`),
  KEY `idx_bowling_match_innings_player` (`match_id`,`innings`,`player_id`),
  CONSTRAINT `FK7aw8ho6lm894r2y013klasv2u` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKcqq6tiguk6ucqvdb4eh10cnwt` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`),
  CONSTRAINT `FKnhcgnwmwomg7423af4k27ecv0` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scorecard_bowling`
--

LOCK TABLES `scorecard_bowling` WRITE;
/*!40000 ALTER TABLE `scorecard_bowling` DISABLE KEYS */;
INSERT INTO `scorecard_bowling` VALUES (83,16,1,0,1,16,2,23,16,1),(84,17,1,0,1,17,0,23,1,1),(85,20,2,0,1,20,0,23,22,2),(86,20.4,2,0,0.5,17,1,23,25,2),(95,27,1,0,1,27,2,27,5,8),(96,8,2,0,1,8,2,27,17,9);
/*!40000 ALTER TABLE `scorecard_bowling` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scores`
--

DROP TABLE IF EXISTS `scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `overs_played` double NOT NULL,
  `team_a_runs` int NOT NULL,
  `team_a_wickets` int NOT NULL,
  `team_b_runs` int NOT NULL,
  `team_b_wickets` int NOT NULL,
  `match_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_f7hw3osmg24h82wj0oi58oa16` (`match_id`),
  CONSTRAINT `FKmhr6nu0xje0kgubcx0j405gwq` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`),
  CONSTRAINT `scores_chk_1` CHECK ((`overs_played` >= 0)),
  CONSTRAINT `scores_chk_2` CHECK ((`team_a_runs` >= 0)),
  CONSTRAINT `scores_chk_3` CHECK ((`team_a_wickets` >= 0)),
  CONSTRAINT `scores_chk_4` CHECK ((`team_b_runs` >= 0)),
  CONSTRAINT `scores_chk_5` CHECK ((`team_b_wickets` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scores`
--

LOCK TABLES `scores` WRITE;
/*!40000 ALTER TABLE `scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_players`
--

DROP TABLE IF EXISTS `team_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_players` (
  `team_id` bigint NOT NULL,
  `player_id` bigint NOT NULL,
  KEY `FKddxneji5ow8j3171oe6mc2gu0` (`player_id`),
  KEY `FK3bhsykltbdhsmmb61l2ml12h` (`team_id`),
  CONSTRAINT `FK3bhsykltbdhsmmb61l2ml12h` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKddxneji5ow8j3171oe6mc2gu0` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_players`
--

LOCK TABLES `team_players` WRITE;
/*!40000 ALTER TABLE `team_players` DISABLE KEYS */;
INSERT INTO `team_players` VALUES (8,1),(8,2),(8,3),(8,4),(8,5),(8,16),(8,17),(8,18),(8,19),(8,20),(8,21),(2,6),(2,7),(2,8),(2,9),(2,10),(2,22),(2,23),(2,24),(2,25),(2,26),(2,27),(2,28),(2,29),(1,1),(1,2),(1,3),(1,4),(1,5),(1,16),(1,17),(1,18),(1,19),(1,20),(1,21),(1,41),(9,1),(9,2),(9,3),(9,4),(9,5),(9,16),(9,17),(9,18),(9,19),(9,20),(9,21),(9,41),(9,42);
/*!40000 ALTER TABLE `team_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

DROP TABLE IF EXISTS `teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `coach_name` varchar(255) DEFAULT NULL,
  `team_name` varchar(255) NOT NULL,
  `team_logo` varchar(1024) DEFAULT NULL,
  `team_type` enum('TOURNAMENT','PRACTICE') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_dsqu2wx93en6lbl2bnrjy7kol` (`team_name`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
INSERT INTO `teams` VALUES (1,'aa','FIRST','https://res.cloudinary.com/djp3qikuv/image/upload/v1773993533/kezinc5dahja80khwimk.jpg','TOURNAMENT'),(2,'bb','SECOND','https://res.cloudinary.com/djp3qikuv/image/upload/v1773993549/ip7uckd2rq82vkjqv5ap.jpg','TOURNAMENT'),(3,'C','THIRD','https://res.cloudinary.com/djp3qikuv/image/upload/v1773993964/g9mspfi8k3mknpq4rmqw.avif','TOURNAMENT'),(5,'DDDDD','FOURTH','','TOURNAMENT'),(8,'22222222','practice_2','','PRACTICE'),(9,'111111111','practice_1','','PRACTICE');
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-08 15:24:17
